<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="short.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      
    <div class="container" style="text-align:left">
        <h2> <b>All  Shortcuts</b></h2>

        <input style="padding:10px, box-shadow 1px; width:300px; margin-bottom:40px; border-radius:30px;" type="search" name="" id="" placeholder="search">
          

        <h6 class="text-muted" style="padding:20px; text-align:center; margin-bottom:40px;">
           create shortcuts for things you do everyday.
        </h6>
        
    <div class="start" style="display:flex; justify-content:space-between; padding:20px;">
      <h6>Starter shortcuts</h6>
      <h5> <a href="/new">+</a></h5>
    </div>

    <div class="row">
      <div class="col-6  col-md-3" style="margin-bottom:20px">
    <div class="start" style="background-color:pink; padding:10px; width:150px; border-radius:10px;">
      <div class="box" style="display:flex; justify-content:space-between; margin-bottom:20px;" >
        <h6>..</h6>
        <h6>..</h6>
      </div>
      <h6>Take a Break</h6>
    </div>
</div>
 
 <div class="col-6  col-md-3" style="margin-bottom:20px">
 <div class="bank" style="background-color:green; padding:10px; width:150px; border-radius: 10px;">
  <div class="box2" style="display:flex; justify-content:space-between; margin-bottom:20px;">
    <h6>..</h6>
    <h6>..</h6>
  </div>
  <h6>Text Last Image</h6>
  </div>
 </div>

 <div class="col-6  col-md-3" style="margin-bottom:20px">
  <div class="bank" style="background-color:blue; padding:10px; width:150px; border-radius: 10px;">
   <div class="box2" style="display:flex; justify-content:space-between; margin-bottom:20px;">
     <h6>..</h6>
     <h6>..</h6>
   </div>
   <h6>Shazam shortcuts</h6>
   </div>
  </div>
 
  <div class="col-6  col-md-3" style="margin-bottom:20px">
    <div class="bank" style="background-color:purple; padding:10px; width:150px; border-radius: 10px;">
     <div class="box2" style="display:flex; justify-content:space-between; margin-bottom:20px;">
       <h6>..</h6>
       <h6>..</h6>
     </div>
     <h6>what`s shortcuts</h6>
     </div>
    </div>
  
    </div>
      
 <div class="bank "style="display:flex; justify-content:space-between; padding:10px;">
  <h6>Voice Memos</h6>
  <h6>See All</h6>
 </div>
<div class="row">
 <div class="col 6 col-md-4" style="margin-bottom:20px">
   <div class="about" style="background-color:rgb(180, 29, 29); padding:10px; width:150px; border-radius: 10px;">
    <div class="box 3" style="display:flex; justify-content:space-between; margin-bottom:20px;">
      <h6>..</h6>
      <h6>..</h6>
    </div>
    <h6>Record <br>Voice memo</h6>

   </div>
   </div>
   <div class="col 6 col-md-4" style="margin-bottom:20px">
    <div class="about" style="background-color:rgb(180, 29, 29); padding:10px; width:150px; border-radius: 10px;">
     <div class="box 3" style="display:flex; justify-content:space-between; margin-bottom:20px;">
       <h6>..</h6>
       <h6>..</h6>
     </div>
     <h6>Play last<br> Voice memo</h6>
    </div>
 </div>

 
 </div>

  

</div>
</div>



</div>



    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>